
@font-face {
    font-family: 'gg';
    src : url(../font/nanumsquareB.woff )
}



.f-samll {
    font-size: 10px;
}
.f-midum {
    font-size: 20px;
}




body {
    margin: 0px;
    height: 1000vw;
    font-weight: 900;
    font-family: 'gulim';
    
}
p,h4,h3,h1,span {

    transform: rotate(0.03deg);
}

.main-background {
    width: 100%;
    height: 800px;
    background-image: url(), url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20160531_94%2Ffaas7777_1464677347736JOK94_JPEG%2FHarambe14.jpg&type=a340");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: brightness(70%); */
    padding: 1px;
    text-align: center;
    color: white;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
    padding: 10px;
    width: 60px;
    text-align: center;
}

.main-text {
    text-align: center;
    width: 70%;
    padding: 10px;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border-radius: 5px;
    position: relative;
}

.explain-box {
    width: 600px;
    margin: auto;
    padding: 30px;
    max-width: 600px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -250px;
    z-index: 5;
    box-sizing: border-box;
}



.text-input {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-background {
    background-color: black;
    padding: 30px;
    margin-top: -150px;
    

    
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-top p {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.form-input {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    
}
.form-middle__first-box {
    width: 50%;
    float: left;
}
.form-middle__second-box{
    float: left;
    width: 50%;
}

.nav-container{
    display: flex;
    height: 50px;
    align-items: center;
    padding: 5px;
}

.nav-item {
    margin-right: 10px;
}


.custom {
    color: green;
}


/* .custom { */
    /* color: skyblue !important; */
/* } */

/* .main-background .custom {
    color: skyblue;
}

div.main-background .custom {
    color: red; */
/* } */


.pseudo::first-letter{
    color: red;
    font-size: 30px;
}

input[type=file]::-webkit-file-upload-button{
    color: red;
}